<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="menu">
        <input type="button" value="Get Credits" onclick="window.location.href = 'http://localhost:8000/top-up#'+String(window.location).split('#')[1];" />
        <input type="button" value="Slots" onclick="window.location.href = 'http://localhost:8000/slots#'+String(window.location).split('#')[1];" />
        <input type="button" value="Logout" onclick="window.location.href = 'http://localhost:8000/logout';" />
    </div>
</body>
</html>